html {
  font-size: 10px;
  background: url(green.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

/* #A {
 background-color: red;
}

#S {
 background-color: Blue;
}

#D {
 background-color: Green;
}

#F {
 background-color: Yellow;
}

#G {
 background-color: Teal;
}

#H {
 background-color: Orange;
}

#J {
 background-color: Purple;
}

#K {
 background-color: Red;
}

#L {
 background-color: Blue;
} */

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: black;
  background-color: white;
  opacity: .8;
  text-shadow: 0 0 .5rem white;
}

.playing {
  transform: scale(1.1);
  border-color: red;
  background-color: red;
  box-shadow: 0 0 1rem white;
}


kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
